#Tarea 1 -- formulario de respuestas

En este notebook pueden ingresar sus respuestas a las preguntas de tarea 1, y asegurarse que sus comandos SQL funcionan de manera adecuada.

### Iniciar el servidor

Cómo siempre, para poder ocupar el notebook, lo deben subir a https://colab.research.google.com

Luego, ejecutando el siguiente campo, se crea una instancia de servidor postgres, dónde pueden realizar sus consultas.

In [ ]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

##Pregunta 1

La primera tarea que debes realizar es escribir un esquema relacional para nuestro caso de uso, especificando los nombres de las tablas, los tipos de atributos, y nombrar las llaves primarias en cada tabla.
Adicionalmente, debes explicar cómo lograste guardar la información que una persona participa en un taller, y que un taller se realiza en un lugar específico.

Cómo un ejemplo de cómo se debe ver tu solución, basta con escribir algo cómo:

`País(id INT, nombre VARCHAR(50), población INT)`

*Llave para la relación País:* id

En caso de esquema para un país.

Este esquema no necesita ser en SQL.

La respuesta la pueden ingresar en el campo abajo:

## Respuesta 1:

... (hacer doble click para empezar escribir) ...

##Pregunta 2

Con tu esquema en mano, debes escribir los comandos SQL para crear las tablas en tu esquema. Esto requiere tener cinco o más comandos de tipo “CREATE TABLE…” que deben poder ejecutarse correctamente en SQL. Quiere decir, si nosotros ejecutamos estos comandos, el motor de SQL no nos dará un error. Para esto, te recomendamos correr tus comandos directamente en el siguiente campo de Notebook en Google Colab:

In [ ]:
%%sql

##Pregunta 3

Con tus tablas creadas, ahora las vamos a llenar de datos. Te pedimos insertar la siguiente información, descrita de manera informal, a tu base de datos:

Personas:
-	John Russo, rut: 883.111.6793-1, correo: john.russo@uc.cl, tel: 748-29-1038
-	Matthew Howard, rut: 323.654.56-1, correo:matthew.howard@uc.cl, tel: 004-11-7328
-	Susan Griffith, rut: 389.197.781-5, correo:susan.griffith@email.com, tel: 342-03-4478

Todas estas personas participan en el taller con datos: 
- nombre: Taller de cocina, instructor: Gibson, fecha: 2021-12-28, hora: 12:00, valor: 9, duración: 1.5.

También, disponemos de información que John Russo participa en el taller con datos: 
- nombre: Taller 11, instructor: Jonathan Duffy, fecha: 2022-12-11, hora: 13:00, valor: 7, duración: 1.0.

Crea los comandos “INSERT INTO…” que inserta esta información a tus tablas. Estos comandos deben correr correctamente en SQL en el siguiente campo:

In [ ]:
%%sql

##Pregunta 4

Escriba en SQL la consulta que sobre tu base de datos devuelve nombre de todos los talleres. Esta consulta se debe ejecutar correctamente sobre tu esquema, y los datos ingresados en la Pregunta 3, pero también en otras instancias de tu esquema relacional.

La consulta la puedes ingresar al siguiente campo:

In [ ]:
%%sql