In [35]:


import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# Para modelos binarios y Croston:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import classification_report, mean_absolute_error
from darts import TimeSeries
from darts.models import Croston

In [36]:
# 1. LECTURA DE DATOS

data_path = 'db.csv'  #Ruta
df = pd.read_csv(f'{data_path}', sep=',')

print(df.info())
display(df.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64765 entries, 0 to 64764
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Billing date       64765 non-null  int64
 1   Material           64765 non-null  int64
 2   Phisical quantity  64765 non-null  int64
 3   Country            64765 non-null  int64
 4   Net price          64765 non-null  object
dtypes: int64(4), object(1)
memory usage: 2.5+ MB
None

   Billing date  Material  Phisical quantity  Country Net price
0      10052022      1795                 10     7511     2,865
1      10052022      1778                  5     7511   0,66375
2      10052022      1778                 15     7511   0,66375
3      10052022      9526                  4     7511  36,31125
4      10052022      1778                 11     7511   0,66375
5      10052022      1778                 15     7511   0,66375
6      10052022      1778                  5     7511   0,66375
7      10052022      2844                  2     7511    35,185
8      10052022      4151                  6     7511  31,47875
9      10052022      2844                  2     7511    35,185

In [37]:
# 2. PREPROCESAMIENTO INICIAL


def process_date_str(number):
    """
    Convierte un int tipo ddmmaaaa (ej: 10052022) a 'yyyy-mm-dd'.
    """
    string = str(number)
    if len(string) == 7:
        # Caso en que falta un dígito
        string = '0' + string
    # Extrae (dd, mm, aaaa) => ([:2], [2:4], [4:])
    # y formatea a 'aaaa-mm-dd'
    return f'{string[4:]}-{string[2:4]}-{string[:2]}'

df['time_str'] = df['Billing date'].apply(process_date_str)
df['time'] = pd.to_datetime(df['time_str'], format='%Y-%m-%d')

# Se ajusta el lunes como dia inicial (opcional)
df['time'] = df['time'] - pd.to_timedelta(df['time'].dt.weekday, unit='D')

# Limpiamos Net price (reemplazando comas por puntos)
df['Net price'] = df['Net price'].apply(lambda x: x.replace(',', '.')).astype(float)

In [38]:
# 3. AGRUPACIÓN DIARIA + PREPARACIÓN

grouped_df = df.groupby(['Material', 'time']).sum().reset_index()[
    ['time', 'Material', 'Phisical quantity', 'Net price']
]
grouped_df = grouped_df.rename(columns={
    'Material': 'item',
    'Phisical quantity': 'sales',
    'Net price': 'price'
})
grouped_df = grouped_df.sort_values(by='time')


def fill_no_sales_period(df, item_id):
    """
    Rellena con filas (sales=0) aquellos días que no existen en df para el item_id.
    """
    item_df = df[df['item'] == item_id]
    existing_dates = item_df['time'].to_list()
    if len(item_df) == 0:
        return df  # Si no hay datos de ese item, retornamos como está

    first_sale_date = item_df['time'].min().strftime("%Y-%m-%d")
    last_sale_date = item_df['time'].max().strftime("%Y-%m-%d")

    # Frecuencia diaria ('D'). 
    time_index = pd.date_range(start=first_sale_date, end=last_sale_date, freq='D')

    new_data = {'time': [], 'item': [], 'sales': [], 'price': []}
    for date in time_index:
        if date not in existing_dates:
            new_data['time'].append(date)
            new_data['item'].append(item_id)
            new_data['sales'].append(0)
            new_data['price'].append(0.0)

    new_dates_df = pd.DataFrame(new_data)
    df = pd.concat([df, new_dates_df], axis=0)
    return df

items = list(grouped_df['item'].unique())
full_daily_df = grouped_df.copy()

for item in items:
    full_daily_df = fill_no_sales_period(full_daily_df, item)

full_daily_df['sales'] = full_daily_df['sales'].astype(int)
full_daily_df['item'] = full_daily_df['item'].astype(int)

/var/folders/5x/tlp5fd614dv9y_wn8nmtqv4rqq_frn/T/ipykernel_40886/912565248.py:38: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_dates_df], axis=0)

In [39]:
full_daily_df

            time  item  sales     price
12646 2018-08-20  3531      2  13.05125
26002 2018-08-20  6488      2  14.11000
1765  2018-08-20  1435      3   6.47625
41804 2018-08-20  9899     30   1.11375
5929  2018-08-20  2210      3   5.84125
...          ...   ...    ...       ...
8     2024-08-21  1978      0   0.00000
9     2024-08-22  1978      0   0.00000
10    2024-08-23  1978      0   0.00000
11    2024-08-24  1978      0   0.00000
12    2024-08-25  1978      0   0.00000

[3338701 rows x 4 columns]

In [40]:
# 4. CLASIFICACIÓN DE DEMANDA (p y CV2)

def calculate_p_interval(df, item):
    filtered_df = df[df['item'] == item]
    total_periods = float(len(filtered_df))
    non_zero_demands = float(len(filtered_df[filtered_df['sales'] > 0]))
    if non_zero_demands == 0:
        return np.inf
    return total_periods / non_zero_demands

def calculate_CV2(df, item):
    filtered_df = df[(df['item'] == item) & (df['sales'] > 0)]
    if len(filtered_df) < 2:
        return 0
    std = np.std(filtered_df['sales'])
    mean_ = np.mean(filtered_df['sales'])
    if mean_ == 0:
        return 0
    return (std / mean_) ** 2

demand_factors = []
for it in items:
    p_val = calculate_p_interval(full_daily_df, it)
    cv2_val = calculate_CV2(full_daily_df, it)
    demand_factors.append((it, p_val, cv2_val))

classification_df = pd.DataFrame(demand_factors, columns=['item', 'p', 'cv2'])

def classify_demand(row):
    THRESHOLD_P = 1.32
    THRESHOLD_CV2 = 0.49
    p = row['p']
    cv2 = row['cv2']
    if p < THRESHOLD_P and cv2 >= THRESHOLD_CV2:
        return 'erratic'
    elif p >= THRESHOLD_P and cv2 >= THRESHOLD_CV2:
        return 'lumpy'
    elif p < THRESHOLD_P and cv2 < THRESHOLD_CV2:
        return 'smooth'
    else:
        return 'intermittent'

classification_df['demand_type'] = classification_df.apply(classify_demand, axis=1)

# Precio unitario promedio
full_daily_df['price'] = full_daily_df['price'].fillna(0.0)
full_daily_df['unit_price'] = np.where(
    full_daily_df['sales'] > 0,
    full_daily_df['price'] / full_daily_df['sales'],
    0
)
filtered_nonzero = full_daily_df[full_daily_df.sales > 0]
avg_price_df = filtered_nonzero[['item', 'unit_price']].groupby('item').mean().reset_index()
avg_price_df.rename(columns={'unit_price': 'avg_unit_price'}, inplace=True)

item_df = classification_df.merge(avg_price_df, on='item', how='left')

In [41]:
# 5. ENTRENAMIENTO Y COMPARACIÓN (TODOS LOS ÍTEMS)

results_list = []
all_daily_preds_list = []  # Para luego generar predicciones mensuales

item_ids = classification_df['item'].unique()

for it in item_ids:
    item_data = full_daily_df[full_daily_df.item == it].sort_values('time').reset_index(drop=True)

    # Si hay pocos datos, saltamos
    if len(item_data) < 10:
        results_list.append({
            'item': it,
            'demand_type': classification_df.loc[classification_df['item']==it, 'demand_type'].values[0],
            'n_points': len(item_data),
            'bin_reg_mae': None,
            'croston_mae': None,
            'croston_est_mae': None
        })
        continue


    # (A) MODELO BINARIO + REGRESIÓN

    item_data['has_sales'] = (item_data['sales'] > 0).astype(int)
    item_data['month_idx'] = item_data['time'].dt.month
    item_data['dow'] = item_data['time'].dt.weekday  # Podrías usarlo si quisieras
    item_data['lag1'] = item_data['sales'].shift(1).fillna(0)
    item_data['lag2'] = item_data['sales'].shift(2).fillna(0)

    train_size = int(len(item_data)*0.8)
    train_df = item_data.iloc[:train_size].copy()
    test_df  = item_data.iloc[train_size:].copy()

    if len(train_df)==0 or len(test_df)==0:
        results_list.append({
            'item': it,
            'demand_type': classification_df.loc[classification_df['item']==it, 'demand_type'].values[0],
            'n_points': len(item_data),
            'bin_reg_mae': None,
            'croston_mae': None,
            'croston_est_mae': None
        })
        continue

    X_train = train_df[['month_idx', 'lag1', 'lag2']]  # Ejemplo: mes del año + lags
    y_train = train_df['has_sales']
    X_test  = test_df[['month_idx', 'lag1', 'lag2']]
    y_test  = test_df['has_sales']

    clf = LogisticRegression()
    try:
        clf.fit(X_train, y_train)
    except:
        results_list.append({
            'item': it,
            'demand_type': classification_df.loc[classification_df['item']==it, 'demand_type'].values[0],
            'n_points': len(item_data),
            'bin_reg_mae': None,
            'croston_mae': None,
            'croston_est_mae': None
        })
        continue

    # Predicción binaria
    test_df['pred_has_sales'] = clf.predict(X_test)
    test_df['pred_sales_bin'] = 0.0

    # Regresión para la magnitud
    reg = LinearRegression()
    train_df_reg = train_df[train_df['sales']>0].copy()
    bin_reg_mae = None
    if len(train_df_reg)>0:
        X_train_reg = train_df_reg[['month_idx', 'lag1', 'lag2']]
        y_train_reg = train_df_reg['sales']

        try:
            reg.fit(X_train_reg, y_train_reg)
        except:
            pass

        idx_has_sales = test_df.index[test_df['pred_has_sales']==1]
        X_test_reg = test_df.loc[idx_has_sales, ['month_idx', 'lag1', 'lag2']]
        if not X_test_reg.empty:
            y_pred_reg = reg.predict(X_test_reg)
            test_df.loc[idx_has_sales, 'pred_sales_bin'] = y_pred_reg

        bin_reg_mae = mean_absolute_error(test_df['sales'], test_df['pred_sales_bin'])


    # (B) CROSTON PURO

    item_ts = TimeSeries.from_dataframe(
        item_data, time_col='time', value_cols='sales', freq='D'
    )
    train_ts = item_ts[:train_size]
    test_ts  = item_ts[train_size:]

    croston_model = Croston()
    try:
        croston_model.fit(train_ts)
        croston_pred = croston_model.predict(len(test_ts))
        croston_values = croston_pred.values().flatten()
        test_values = test_ts.values().flatten()
        croston_mae_val = np.mean(np.abs(test_values - croston_values))
    except:
        croston_values = [np.nan]*len(test_df)
        croston_mae_val = None

    # Pasar predicciones de Croston a DataFrame para merge
    croston_pred_df = pd.DataFrame({
        'time': test_df['time'],
        'pred_croston': croston_values
    })


    # (C) CROSTON + ESTACIONALIDAD (MES del AÑO)

    # 1. Calculamos factor estacional por mes del año
    #    (ejemplo para tomar: moy=1..12 => factor = mean(sales en ese mes) / mean(sales global))
    item_data['moy'] = item_data['time'].dt.month
    global_mean = item_data['sales'].mean() if item_data['sales'].mean() != 0 else 1e-6
    season_factor = item_data.groupby('moy')['sales'].mean() / global_mean

    def apply_seasonal_adjustment(row):
        if row['sales'] == 0:
            return 0
        return row['sales'] / season_factor.loc[row['moy']]

    item_data['sales_adj'] = item_data.apply(apply_seasonal_adjustment, axis=1)

    # 2. Entrenar Croston sobre 'sales_adj'
    item_ts_adj = TimeSeries.from_dataframe(
        item_data, time_col='time', value_cols='sales_adj', freq='D'
    )
    train_ts_adj = item_ts_adj[:train_size]
    test_ts_adj  = item_ts_adj[train_size:]

    croston_model_adj = Croston()
    try:
        croston_model_adj.fit(train_ts_adj)
        croston_pred_adj = croston_model_adj.predict(len(test_ts_adj))
        adj_values = croston_pred_adj.values().flatten()

        # Revertir la estacionalidad
        test_df_adj = item_data.iloc[train_size:].copy()
        test_df_adj['pred_croston_est'] = adj_values

        def revert_season_factor(row):
            return row['pred_croston_est'] * season_factor.loc[row['moy']]

        test_df_adj['pred_croston_est'] = test_df_adj.apply(revert_season_factor, axis=1)

        croston_est_mae_val = mean_absolute_error(
            test_df_adj['sales'],
            test_df_adj['pred_croston_est']
        )
    except:
        croston_est_mae_val = None
        test_df_adj = test_df.copy()
        test_df_adj['pred_croston_est'] = np.nan

    # DataFrame con predicción "estacional" para merge
    croston_est_pred_df = test_df_adj[['time', 'pred_croston_est']].copy()


    # (D) Unimos las predicciones diarias (test set)
    #     - Real, binario, croston, croston_est

    test_pred_df = test_df[['time','sales','pred_sales_bin']].merge(
        croston_pred_df, on='time', how='left'
    ).merge(
        croston_est_pred_df, on='time', how='left'
    )
    test_pred_df['item'] = it

    all_daily_preds_list.append(test_pred_df)


    # (E) Guardamos las métricas globales

    results_list.append({
        'item': it,
        'demand_type': classification_df.loc[classification_df['item']==it, 'demand_type'].values[0],
        'n_points': len(item_data),
        'bin_reg_mae': bin_reg_mae,
        'croston_mae': croston_mae_val,
        'croston_est_mae': croston_est_mae_val
    })

In [42]:
# 6. METRICAS FINALES POR ÍTEM

results_df = pd.DataFrame(results_list)
results_df.sort_values(by='item', inplace=True)
results_df.reset_index(drop=True, inplace=True)

display(results_df.head(50))
# results_df.to_csv('comparacion_croston_mes_ano.csv', sep=';', index=False)

    item   demand_type  n_points  bin_reg_mae  croston_mae  croston_est_mae
0   1002         lumpy      1793     0.222841     1.274647         1.348773
1   1003  intermittent      1170     0.008547     0.040301         0.025591
2   1006         lumpy      1947     0.079487     0.382824         0.337329
3   1007        smooth         1          NaN          NaN              NaN
4   1009        smooth         1          NaN          NaN              NaN
5   1013  intermittent       197     3.750000   196.250000        63.103448
6   1014         lumpy      1982     0.251889     0.700295         0.630759
7   1018         lumpy       694     0.431655     0.665562         0.589222
8   1019         lumpy      2094     0.541766     3.001722         4.044760
9   1020         lumpy      1247     0.340000     0.582923         0.515767
10  1024  intermittent      1527     0.058824     0.093729         0.093278
11  1028         lumpy      1457     0.051370     0.271397         0.219477
12  1030  intermittent       848     0.035294     0.330476         0.122914
13  1034         lumpy      1219     0.036885     0.083791         0.060717
14  1035  intermittent        57     0.500000     3.833333         2.342105
15  1037        smooth         1          NaN          NaN              NaN
16  1040        smooth         1          NaN          NaN              NaN
17  1044  intermittent       302     0.081967     2.016393         0.157863
18  1051         lumpy      2066     0.316425     0.523741         0.541247
19  1055  intermittent      1429     0.384615     0.489720         0.531288
20  1061  intermittent      2192     0.066059     0.118026         0.084939
21  1062        smooth         1          NaN          NaN              NaN
22  1066         lumpy      1240     0.040323    19.959677         3.330647
23  1070         lumpy       939     0.042553     1.031915         0.488787
24  1074  intermittent       876     0.193182    19.897727         6.238096
25  1075        smooth         1          NaN          NaN              NaN
26  1080         lumpy      1114     0.004484     0.826013         0.100711
27  1082        smooth         1          NaN          NaN              NaN
28  1084         lumpy      1324     0.830189     1.658195         1.664434
29  1085  intermittent        71     0.066667     0.933333         0.775758
30  1086        smooth         1          NaN          NaN              NaN
31  1091        smooth         1          NaN          NaN              NaN
32  1092        smooth         1          NaN          NaN              NaN
33  1093  intermittent      1303     0.038314     0.058584         0.043438
34  1095  intermittent       624     0.040000     1.024000         0.826939
35  1096  intermittent        57     0.250000     2.750000         4.500000
36  1098  intermittent       372     0.053333     0.357500         0.174506
37  1101  intermittent      1457     0.229452     0.348619         0.281831
38  1103         lumpy      1233     0.550607     0.869867         0.755076
39  1105        smooth         1          NaN          NaN              NaN
40  1111         lumpy      1555     0.199357     1.245573         1.084314
41  1114  intermittent      1380     0.083333     0.252314         0.164987
42  1115         lumpy      1450     0.272414     0.825627         0.851768
43  1118        smooth         1          NaN          NaN              NaN
44  1119  intermittent      1751     0.005698     0.526275         0.088862
45  1120        smooth         1          NaN          NaN              NaN
46  1121         lumpy      2087     0.382775     1.224113         1.160350
47  1122  intermittent      1590     0.047170     0.108032         0.064456
48  1124  intermittent       218     2.545455    21.636364        50.909091
49  1125        smooth         1          NaN          NaN              NaN

In [43]:
results_df.croston_mae.mean()

5.164536597504412

In [44]:
results_df.croston_est_mae.mean()

2.6029063728845196

In [45]:
# 7. GENERAR Y EXPORTAR PREDICCIONES MENSUALES

all_daily_preds_df = pd.concat(all_daily_preds_list, ignore_index=True)
all_daily_preds_df['time'] = pd.to_datetime(all_daily_preds_df['time'])
all_daily_preds_df.set_index('time', inplace=True)

# Agrupamos por (item, mes) sumando
monthly_preds = (
    all_daily_preds_df
    .groupby(['item', pd.Grouper(freq='M')])
    .agg({
        'sales': 'sum',
        'pred_sales_bin': 'sum',
        'pred_croston': 'sum',
        'pred_croston_est': 'sum'
    })
    .reset_index()
    .rename(columns={
        'time': 'month',
        'sales': 'y_real',
        'pred_sales_bin': 'y_binario',
        'pred_croston': 'y_croston',
        'pred_croston_est': 'y_croston_est'
    })
    .sort_values(by=['item','month'])
    .reset_index(drop=True)
)

display(monthly_preds.head(50))
monthly_preds.to_excel('predicciones_mensuales_croston_est_mes.xlsx', index=False)
print("Archivo 'predicciones_mensuales_croston_est_mes.xlsx' generado con éxito.")

/var/folders/5x/tlp5fd614dv9y_wn8nmtqv4rqq_frn/T/ipykernel_40886/1517329541.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .groupby(['item', pd.Grouper(freq='M')])

    item      month  y_real  y_binario    y_croston  y_croston_est
0   1002 2023-05-31       0        0.0     4.254629       7.539547
1   1002 2023-06-30       0        0.0    31.909721       9.159404
2   1002 2023-07-31       0        0.0    32.973379       0.000000
3   1002 2023-08-31       0        0.0    32.973379      72.379647
4   1002 2023-09-30       0        0.0    31.909721       7.754962
5   1002 2023-10-31       0        0.0    32.973379      64.624685
6   1002 2023-11-30       0        0.0    31.909721      18.094912
7   1002 2023-12-31      40        0.0    32.973379      12.924937
8   1002 2024-01-31       0        0.0    32.973379      51.699748
9   1002 2024-02-29       0        0.0    30.846064      13.197999
10  1002 2024-03-31       0        0.0    32.973379      31.019849
11  1002 2024-04-30       0        0.0    31.909721      82.719596
12  1002 2024-05-31      40        0.0    21.273147      37.697733
13  1003 2023-04-30       0        0.0     0.288250       0.000000
14  1003 2023-05-31       0        0.0     0.992861       0.000000
15  1003 2023-06-30       0        0.0     0.960833       2.226917
16  1003 2023-07-31       0        0.0     0.992861       0.000000
17  1003 2023-08-31       0        0.0     0.992861       0.000000
18  1003 2023-09-30       0        0.0     0.960833       0.862033
19  1003 2023-10-31       0        0.0     0.992861       0.000000
20  1003 2023-11-30       0        0.0     0.960833       0.668075
21  1003 2023-12-31       2        0.0     0.352305       0.282647
22  1006 2023-06-30       0        0.0     9.438929       1.946804
23  1006 2023-07-31       5        0.0     9.753560       8.387942
24  1006 2023-08-31       0        0.0     9.753560      51.618105
25  1006 2023-09-30       5        0.0     9.438929       3.226132
26  1006 2023-10-31       0        0.0     9.753560       3.226132
27  1006 2023-11-30       0        0.0     9.438929       1.613066
28  1006 2023-12-31       5        0.0     9.753560       9.678395
29  1006 2024-01-31       3        0.0     9.753560       2.580905
30  1006 2024-02-29       0        0.0     9.124298       1.602017
31  1006 2024-03-31      11        0.0     9.753560      17.743724
32  1006 2024-04-30       0        0.0     9.438929       1.344221
33  1006 2024-05-31       0        0.0     9.753560       0.000000
34  1006 2024-06-30       2        0.0     7.551143       1.557443
35  1013 2019-03-31       0        0.0  2200.000000       0.000000
36  1013 2019-04-30     150        0.0  5800.000000    2550.000000
37  1014 2023-03-31       0        0.0     0.915255       1.792342
38  1014 2023-04-30       0        0.0    13.728819       2.539682
39  1014 2023-05-31       0        0.0    14.186447       9.092061
40  1014 2023-06-30       0        0.0    13.728819      39.398932
41  1014 2023-07-31       0        0.0    14.186447       3.030687
42  1014 2023-08-31      10        0.0    14.186447      12.122748
43  1014 2023-09-30       0        0.0    13.728819       9.092061
44  1014 2023-10-31       0        0.0    14.186447       0.000000
45  1014 2023-11-30       0        0.0    13.728819      17.597538
46  1014 2023-12-31      10        0.0    14.186447       7.576718
47  1014 2024-01-31       0        0.0    14.186447       2.525573
48  1014 2024-02-29      70        0.0    13.271192      18.094984
49  1014 2024-03-31       0        0.0    14.186447      27.781298

Archivo 'predicciones_mensuales_croston_est_mes.xlsx' generado con éxito.

In [46]:
monthly_preds

       item      month  y_real  y_binario  y_croston  y_croston_est
0      1002 2023-05-31       0        0.0   4.254629       7.539547
1      1002 2023-06-30       0        0.0  31.909721       9.159404
2      1002 2023-07-31       0        0.0  32.973379       0.000000
3      1002 2023-08-31       0        0.0  32.973379      72.379647
4      1002 2023-09-30       0        0.0  31.909721       7.754962
...     ...        ...     ...        ...        ...            ...
24317  9998 2023-07-31       0        0.0  40.323716      77.085291
24318  9998 2023-08-31       2        0.0  40.323716      22.201770
24319  9998 2023-09-30       0        0.0  39.022951      39.427280
24320  9998 2023-10-31       0        0.0  40.323716       0.765578
24321  9998 2023-11-30       4        0.0  35.120656       4.218492

[24322 rows x 6 columns]

### Aplicamos la métrica custom de Utilidad que definimos anteriormente

In [47]:
classification_df = pd.read_csv('demand_classification_by_item.csv', sep=';')
len(classification_df.item.unique())

3817

In [48]:
classification_df

      item           p       cv2   demand_type  unit_price
0     1002  128.071429  0.612206         lumpy    0.009178
1     1003  234.000000  0.213018  intermittent    1.005850
2     1006   84.652174  4.362716         lumpy    2.061909
3     1007    1.000000  0.000000        smooth    0.398125
4     1009    1.000000  0.000000        smooth    0.133375
...    ...         ...       ...           ...         ...
3812  9988  312.000000  0.000000  intermittent    1.943750
3813  9989    1.000000  0.000000        smooth    0.191875
3814  9994  150.000000  0.291320  intermittent    4.370863
3815  9997    1.000000  0.000000        smooth    0.106354
3816  9998  105.533333  1.638147         lumpy    0.390132

[3817 rows x 5 columns]

In [49]:
classification_dict = classification_df.to_dict()
item_price = {}
for i in classification_dict['unit_price'].keys():
    item_price[classification_dict['item'][i]] = classification_dict['unit_price'][i]

item_price

{1002: 0.009177519132653,
 1003: 1.00585,
 1006: 2.061908695652174,
 1007: 0.398125,
 1009: 0.133375,
 1013: 0.005403125,
 1014: 0.0154515029761904,
 1018: 0.1462920673076923,
 1019: 0.1056544325017709,
 1020: 5.4347615740740745,
 1024: 1.9328125,
 1028: 0.1854576822916667,
 1030: 0.91075,
 1034: 9.77227356362773,
 1035: 0.4789583333333333,
 1037: 4.2075,
 1040: 5.03875,
 1044: 1.804375,
 1051: 0.3276114180672269,
 1055: 0.3879253787878787,
 1061: 0.7652068494776828,
 1062: 0.5791176470588235,
 1066: 0.2350694444444444,
 1070: 7.504453125,
 1074: 0.1416964285714285,
 1075: 5.9175,
 1080: 6.594414737654321,
 1082: 3.54,
 1084: 1.3653343461398166,
 1085: 11.880624999999998,
 1086: 7.70125,
 1091: 0.01221875,
 1092: 6.78,
 1093: 11.945,
 1095: 0.974625,
 1096: 9.362916666666669,
 1098: 3.889583333333333,
 1101: 0.4560589015151515,
 1103: 2.8982431881390434,
 1105: 2.493125,
 1111: 0.9206644613368542,
 1114: 3.872853331043957,
 1115: 0.4911770656389839,
 1118: 6.1025,
 1119: 0.8240416666666666,
 1120: 4.42875,
 1121: 1.017283391886115,
 1122: 0.0460972222222222,
 1124: 0.0065223214285714,
 1125: 0.0815384615384615,
 1126: 8.61875,
 1127: 0.66276171875,
 1128: 3.0758125,
 1130: 3.6575,
 1133: 0.23761007319875,
 1134: 1.2841506851529136,
 1136: 2.0225,
 1137: 15.153645833333334,
 1139: 0.8630000000000001,
 1143: 0.2594539262820513,
 1145: 0.2288125,
 1153: 1.6181420394736843,
 1155: 0.0076902418864296,
 1159: 0.2860713215201735,
 1160: 1.196916196739514,
 1165: 0.55875,
 1166: 0.3853124999999999,
 1171: 1.236875,
 1175: 5.215,
 1176: 0.5415625,
 1178: 2.760909090909091,
 1181: 0.6269353632478633,
 1182: 0.063625,
 1186: 6.732916666666667,
 1187: 1.667573593073593,
 1188: 0.1975,
 1189: 0.068125,
 1192: 0.0073458333333333,
 1195: 19.05125,
 1199: 0.820625,
 1202: 0.4356284722222223,
 1203: 0.182555808878538,
 1204: 8.200833333333334,
 1207: 5.498195368375053,
 1208: 0.112574074074074,
 1210: 0.2805557102625808,
 1212: 5.721875,
 1213: 1.0360145266439909,
 1214: 2.225625,
 1216: 2.3166666666666664,
 1220: 0.2451944444444445,
 1221: 0.3063435345639819,
 1228: 3.8124713541666666,
 1229: 4.58890625,
 1235: 0.0807308440371762,
 1236: 1.0683333333333334,
 1242: 1.39025,
 1248: 0.812460046542631,
 1250: 1.4150280916622249,
 1256: 3.189895833333333,
 1262: 2.8332083333333333,
 1263: 14.2078125,
 1267: 11.40375,
 1275: 0.0498072916666666,
 1276: 0.3604971590909091,
 1277: 0.5948612745654712,
 1278: 1.60356569664903,
 1280: 5.77475,
 1283: 1.0268385416666668,
 1284: 32.665,
 1285: 0.5666759295500629,
 1288: 0.0293353732638888,
 1292: 2.63984375,
 1293: 1.423125,
 1295: 0.063875,
 1298: 0.221875,
 1299: 5.495625,
 1302: 9.420625,
 1303: 2.8786458333333336,
 1304: 1.3755326236263736,
 1307: 1.76625,
 1310: 4.055,
 1312: 0.2440798611111111,
 1313: 3.242375,
 1316: 19.44399458874459,
 1318: 4.8725,
 1320: 0.0349999999999999,
 1323: 3.13875,
 1324: 1.095,
 1325: 2.5307953042328043e-06,
 1327: 0.0589583333333333,
 1328: 1.4849093364197532,
 1331: 6.4753125,
 1332: 0.6132708333333333,
 1333: 11.40375,
 1334: 18.978125,
 1336: 5.4275,
 1337: 0.8695050084995469,
 1338: 0.1265625,
 1340: 6.570791666666667,
 1341: 3.95875,
 1345: 0.0117743910367545,
 1346: 0.3305619295634921,
 1347: 2.841967866375218,
 1349: 3.875,
 1353: 0.2312964924410499,
 1354: 1.06296875,
 1355: 0.0996875,
 1356: 0.3046008998964939,
 1361: 2.0864499999999997,
 1363: 0.6156825866441251,
 1364: 0.2829166666666666,
 1369: 3.3011944444444445,
 1371: 2.389388206039992,
 1376: 0.4303179337910744,
 1377: 1.011610202580956,
 1378: 12.91386111111111,
 1379: 0.7503020833333334,
 1384: 0.2173541894026741,
 1389: 0.0094908942743764,
 1395: 0.0449311681093931,
 1397: 0.041608231707317,
 1399: 0.0817604166666666,
 1403: 3.6462598080524695,
 1404: 1.56671875,
 1405: 0.1337849124216179,
 1409: 1.067229166666667,
 1410: 1.6435604707792209,
 1412: 0.28325,
 1414: 0.0019077839124396,
 1415: 0.411625,
 1416: 0.194,
 1423: 0.725625,
 1427: 5.6271875,
 1428: 0.6072083333333333,
 1429: 3.5450138888888887,
 1432: 0.4115833333333333,
 1433: 0.4302045454545454,
 1434: 14.790625,
 1435: 1.1901112578033464,
 1439: 1.9332457315930276,
 1440: 0.532775,
 1441: 1.335203703703704,
 1443: 0.8553606902356903,
 1444: 0.6683414351851852,
 1446: 4.679791666666667,
 1448: 0.917125,
 1454: 0.00759375,
 1455: 0.1355233156723447,
 1458: 3.7927673611111112,
 1466: 0.1910185185185185,
 1467: 0.3741415690666739,
 1468: 0.7971875,
 1469: 0.090225,
 1471: 1.3595524691358023,
 1472: 0.47038359508547,
 1473: 0.3952850544063779,
 1474: 0.0310176473627645,
 1475: 2.091277681284458,
 1477: 0.1460075757575757,
 1481: 0.2256350308641975,
 1483: 3.233577114564962,
 1486: 2.7048299801327147,
 1492: 5.853333333333334,
 1494: 0.0184682926993478,
 1495: 0.4304583333333334,
 1497: 1.0519780068964852,
 1500: 17.039854166666668,
 1502: 2.3326011904761903,
 1503: 0.0806441951697366,
 1508: 0.6266875,
 1509: 1.381307967326816,
 1511: 1.08953125,
 1513: 1.1148763888888888,
 1515: 3.0757857142857143,
 1516: 2.80375,
 1517: 1.6859375,
 1518: 2.2825,
 1524: 0.3310278745287497,
 1527: 0.7275,
 1531: 0.32421875,
 1535: 6.3065,
 1537: 4.0625,
 1543: 2.3839573502814586,
 1544: 0.283646392988263,
 1546: 0.3336042167213835,
 1548: 0.1366965048840048,
 1549: 1.0035599623133278,
 1551: 0.3677035532781066,
 1552: 1.3295833333333331,
 1557: 2.441875,
 1562: 0.2131348180076628,
 1563: 0.4650888888888889,
 1566: 7.848722222222221,
 1573: 0.070625,
 1574: 2.5685416666666665,
 1582: 5.253693569711539,
 1583: 0.1520486111111111,
 1585: 9.067206870290203,
 1587: 0.999375,
 1590: 0.0811158591731266,
 1591: 3.052739809927548,
 1600: 0.013,
 1601: 6.995061603764313,
 1603: 2.4633475783475784,
 1605: 6.579934665532879,
 1606: 0.0172045422656192,
 1611: 0.2168180693634322,
 1616: 1.894375,
 1617: 0.236421875,
 1618: 0.4569166666666666,
 1624: 0.0901770833333333,
 1626: 0.4504260416666666,
 1627: 0.1044166666666666,
 1628: 1.9645455573837929,
 1629: 0.2863501140395196,
 1630: 4.741623756852595,
 1632: 3.87625,
 1634: 0.7379669552291154,
 1635: 0.275,
 1636: 0.4089419237923973,
 1638: 25.5571875,
 1647: 0.187375,
 1650: 5.083390625,
 1652: 0.0606739212441655,
 1654: 2.037060416666667,
 1656: 0.1050624999999999,
 1657: 0.075,
 1661: 0.11934375,
 1662: 0.8788371333559578,
 1667: 0.4630709523809524,
 1668: 0.1291666666666666,
 1669: 0.7704840745192307,
 1671: 0.5132844742063493,
 1672: 2.9907732973202035,
 1677: 0.194,
 1679: 3.717562500000001,
 1682: 2.187863467261905,
 1685: 2.3125,
 1686: 0.1899999999999999,
 1688: 0.2522916666666666,
 1689: 0.0271340686274509,
 1691: 0.9329650345145136,
 1694: 2.5196438229016356,
 1696: 0.1208609532828283,
 1698: 0.0582269045132359,
 1703: 2.147732638888889,
 1705: 0.2658574414970385,
 1706: 5.449495881628759,
 1708: 0.3722044164100426,
 1710: 0.23325,
 1712: 3.832180160596109,
 1713: 1.81125,
 1714: 8.055,
 1717: 0.1325758514070025,
 1718: 1.3075,
 1719: 0.90625,
 1721: 0.7297457291666667,
 1725: 7.562916666666666,
 1728: 3.0168977272727275,
 1733: 0.1685411162911162,
 1735: 0.1041666666666666,
 1736: 2.315173076923077,
 1737: 0.164375,
 1738: 4.742151084710744,
 1739: 1.681015625,
 1740: 0.5510208333333334,
 1741: 2.733777319649119,
 1742: 4.03875,
 1743: 0.4002919642857143,
 1748: 0.3575720437405731,
 1749: 2.6573541666666665,
 1754: 0.0265041445153287,
 1755: 0.4715625,
 1757: 0.612681090480139,
 1758: 1.6838333937198064,
 1760: 0.514953125,
 1761: 1.2733333333333334,
 1767: 2.60875,
 1770: 8.520611658456486,
 1771: 10.191875,
 1776: 0.9266643675283548,
 1778: 0.0650735294117647,
 1779: 0.2284915868564306,
 1788: 10.61625,
 1791: 0.5850014502164502,
 1793: 0.145387289224162,
 1795: 0.8600731523122148,
 1796: 1.8965625,
 1798: 0.0960703125,
 1799: 3.707002033596377,
 1801: 0.6665625,
 1803: 4.501250000000001,
 1804: 3.4385468749999997,
 1805: 1.0625,
 1806: 0.141921875,
 1814: 1.08149613714777,
 1815: 0.02175,
 1816: 6.180642370650183,
 1818: 0.133125,
 1820: 0.7362500000000001,
 1822: 0.0867714475839476,
 1825: 0.0857361795292829,
 1826: 4.3334375,
 1827: 0.023625,
 1829: 0.0479444444444444,
 1830: 1.76625,
 1834: 5.62125,
 1835: 6.013702269345238,
 1836: 0.9264583333333334,
 1837: 2.5594048632391324,
 1839: 0.4446588441320584,
 1844: 2.1349301562730356,
 1845: 0.2684375,
 1847: 4.606875,
 1848: 0.7691250000000001,
 1852: 16.893124999999998,
 1855: 0.3396875,
 1860: 0.8333404953455366,
 1862: 0.0197893601190476,
 1863: 0.2585,
 1864: 0.1435109848484848,
 1868: 1.8532802161654136,
 1869: 0.15,
 1870: 2.951404224266119,
 1872: 0.1247781168493024,
 1875: 0.0064193227091633,
 1878: 2.8707096354166666,
 1879: 1.3537900497059452,
 1880: 0.62175,
 1881: 1.1686634615384617,
 1889: 0.2457410714285714,
 1891: 1.3041875,
 1893: 0.0237779761904761,
 1894: 1.6917835041352032,
 1897: 6.374148148148148,
 1898: 21.452343749999997,
 1899: 5.3936601015406165,
 1900: 5.588208333333333,
 1901: 0.1309467817296721,
 1903: 0.8655952380952382,
 1904: 0.6380325868983958,
 1907: 1.4065989583333334,
 1909: 0.3295445121638399,
 1911: 1.4823530636227311,
 1912: 4.769465080844922,
 1913: 0.1634344576719577,
 1920: 13.416250000000002,
 1921: 0.202325,
 1922: 1.2670406441006854,
 1923: 0.6934374999999999,
 1924: 6.600046874999999,
 1929: 2.4938758267195764,
 1932: 0.7193335526315789,
 1933: 2.0124166666666663,
 1934: 6.636875,
 1935: 1.1943247907383343,
 1936: 0.1,
 1937: 0.0684375,
 1938: 2.0625,
 1940: 2.3363055555555556,
 1942: 1.0499416666666668,
 1943: 0.1226041666666666,
 1945: 0.0714864065823428,
 1950: 0.3408739724200137,
 1957: 4.757736111111111,
 1959: 1.9375,
 1964: 1.2861889140271494,
 1968: 0.5471842480436231,
 1969: 5.9597847222222216,
 1971: 0.0120208333333333,
 1974: 0.0020830613301226,
 1978: 1.03415625,
 1979: 2.9353658401382408,
 1982: 0.052724537037037,
 1983: 0.048125,
 1984: 0.3426632575757576,
 1986: 3.771875,
 1991: 0.2956249999999999,
 1994: 0.02,
 1997: 0.0991524994590909,
 1998: 4.0621875,
 1999: 7.1965488251879695,
 2004: 9.31,
 2005: 6.417229166666666,
 2009: 0.0317044117647058,
 2013: 0.1627083333333333,
 2014: 0.24375,
 2015: 10.11421875,
 2017: 0.8279166666666666,
 2019: 2.1946874999999997,
 2022: 1.125,
 2024: 0.0759583333333333,
 2026: 0.2741951790633609,
 2029: 0.7014043209876544,
 2030: 5.4271875,
 2031: 0.593061947837804,
 2035: 0.3245452628511839,
 2037: 0.3139166666666666,
 2041: 0.25,
 2044: 3.2702312334656085,
 2046: 3.749574404761905,
 2047: 0.5677316183704466,
 2048: 0.0087451446104671,
 2052: 10.4825,
 2053: 1.0512132841636752,
 2056: 0.1799739583333333,
 2065: 16.38625,
 2066: 3.3212163727150936,
 2068: 1.41125,
 2070: 1.5675,
 2072: 1.2650150644523,
 2080: 1.27926538705208,
 2083: 1.1594143555322256,
 2086: 2.516875,
 2087: 2.108864379084967e-06,
 2088: 1.012234384077705,
 2092: 1.56875,
 2096: 0.1807635980766555,
 2102: 1.1167997271825396,
 2105: 0.7250125000000001,
 2107: 0.0503782885471408,
 2108: 0.4651466435185185,
 2109: 0.107435504958125,
 2110: 6.824652777777778,
 2115: 1.653215162460211,
 2123: 0.036875,
 2126: 1.4945408535484987,
 2127: 0.6269010416666667,
 2128: 12.375,
 2129: 3.742996088113275,
 2132: 1.8591611607142855,
 2133: 1.2131030696012657,
 2135: 0.5463287037037037,
 2138: 0.057625968992248,
 2141: 4.725,
 2142: 0.2069874999999999,
 2143: 0.9234684584357924,
 2145: 12.24375,
 2148: 1.1661041666666667,
 2149: 1.657125,
 2150: 11.125,
 2154: 1.5116666666666667,
 2155: 0.0309301372163198,
 2158: 3.7745618569958848,
 2160: 0.3581596308479531,
 2165: 0.2003159897732106,
 2166: 0.1467804310179278,
 2170: 1.42183589339139,
 2175: 0.458125,
 2178: 0.4621791877390298,
 2181: 0.64625,
 2182: 0.9060833333333332,
 2185: 0.1477708333333333,
 2189: 0.51,
 2191: 1.6339715717087413,
 2193: 0.1542245724372911,
 2194: 0.5574910137786309,
 2197: 0.7417617598142598,
 2200: 3.05625,
 2202: 0.7165076630833643,
 2205: 1.1790359848484848,
 2207: 7.82597101387175,
 2208: 0.8460787037037037,
 2209: 0.65625,
 2210: 0.5887625622696704,
 2211: 0.2567291666666667,
 2213: 0.0738800054112554,
 2214: 3.2030863954051454,
 2215: 3.0632852244266577,
 2217: 1.8965625,
 2218: 0.2367458241048357,
 2219: 0.658890625,
 2221: 1.690857638888889,
 2223: 1.1287276785714284,
 2225: 0.0270841686507936,
 2231: 0.23625,
 2232: 0.1681863273300773,
 2237: 2.363587420428241,
 2239: 0.933789610745614,
 2240: 1.565625,
 2241: 0.1899999999999999,
 2242: 2.4533125,
 2243: 1.7136145833333334,
 2246: 14.3315625,
 2247: 6.11625,
 2252: 1.2282589285714285,
 2258: 5.764777777777778,
 2259: 0.1524661871693121,
 2260: 0.0746666666666666,
 2262: 0.2752291666666667,
 2263: 0.5337065873044413,
 2266: 0.2555618055555556,
 2267: 3.0488581222067843,
 2268: 0.1806293402777777,
 2269: 1.034123898658114,
 2271: 0.63309375,
 2277: 0.16875,
 2278: 0.0832916666666666,
 2279: 1.9254837130875075,
 2280: 3.660361235119048,
 2282: 1.0955817382564466,
 2283: 1.921747023809524,
 2284: 0.1852083333333333,
 2285: 1.84375,
 2289: 0.195,
 2290: 0.0152174954769962,
 2292: 0.1846875,
 2294: 2.044643327067669,
 2295: 0.3032280950546037,
 2297: 0.0535865104420131,
 2301: 0.8747341269841269,
 2303: 0.7129947916666667,
 2304: 0.501,
 2309: 3.786183823529412,
 2310: 0.011426875,
 2311: 3.8875520092600255,
 2313: 1.9828473532819264,
 2316: 1.0940066661178156,
 2320: 0.0166989583333333,
 2321: 3.74375,
 2323: 0.1456797263681592,
 2324: 0.62375,
 2334: 0.31765,
 2336: 0.7737518334742051,
 2337: 2.724375,
 2338: 1.1202278645833332,
 2343: 8.970679940959801,
 2344: 0.045,
 2346: 0.8145638736263737,
 2348: 0.2931249999999999,
 2349: 0.502671626984127,
 2350: 0.6059705972906404,
 2353: 0.7244012907608696,
 2354: 0.0388125,
 2357: 0.7253066176386486,
 2359: 7.645541666666667,
 2360: 4.08,
 2363: 0.4983702380952381,
 2364: 0.0807916666666666,
 2365: 3.079497794117647,
 2369: 0.3254224118814192,
 2372: 0.2045833333333333,
 2376: 0.2357956466389715,
 2377: 0.0818341503267974,
 2379: 4.444375,
 2382: 2.275833333333334,
 2383: 0.28832336629452,
 2387: 0.7209375,
 2389: 4.731875,
 2390: 2.744003086419753,
 2394: 0.02121875,
 2396: 0.1587311583812408,
 2397: 0.4079166666666666,
 2401: 3.375625,
 2402: 2.1948135134916167,
 2403: 0.3141641414141414,
 2404: 0.4985130568147131,
 2405: 3.76625,
 2407: 65.6425,
 2408: 0.2938551458801005,
 2409: 0.0158588269156396,
 2411: 0.6769755160693922,
 2413: 1.0452654761904765,
 2415: 2.98375,
 2416: 0.07684375,
 2417: 0.5566195600891657,
 2420: 5.8607812500000005,
 2421: 0.5794791666666667,
 2423: 0.7697732235456166,
 2426: 0.1258214533730158,
 2427: 1.2615625,
 2428: 5.02625,
 2429: 16.318982638888887,
 2434: 2.5,
 2438: 0.2667126320604409,
 2440: 6.085,
 2441: 0.2259375,
 2442: 0.2915,
 2445: 0.3565625,
 2448: 6.125,
 2452: 2.8475,
 2454: 0.2997139756944444,
 2457: 16.285625,
 2464: 0.7597950310559006,
 2465: 1.0834884327246417,
 2467: 7.35125,
 2470: 0.3280384615384615,
 2474: 1.7069102564102565,
 2479: 0.3834936919504644,
 2480: 0.4570833333333333,
 2483: 0.165,
 2484: 5.69453125,
 2486: 2.6089930555555556,
 2487: 0.4929894675925926,
 2488: 0.142125,
 2489: 1.2580309463548576,
 2490: 0.062875,
 2491: 0.2396875,
 2492: 0.0621203125,
 2493: 0.1487133630952381,
 2494: 3.165625,
 2495: 0.449625,
 2497: 4.478273823763955,
 2498: 15.395625,
 2501: 0.4627185997596154,
 2504: 0.1354166666666666,
 2505: 1.4433928571428571,
 2507: 2.1770993202585753,
 2508: 0.0307319175273736,
 2509: 0.9214275793650794,
 2510: 2.3420833333333335,
 2513: 0.8015941442089657,
 2514: 1.2097468171296295,
 2515: 0.0017499999999999,
 2516: 0.6755349702380953,
 2517: 0.4860791666666666,
 2520: 0.0844632860284876,
 2521: 8.795014481707318,
 2523: 1.5949540556948667,
 2524: 0.0859375,
 2528: 1.6323125,
 2536: 0.0270833333333333,
 2543: 1.4683257449351894,
 2547: 0.2148171895362018,
 2552: 0.0742756470132648,
 2553: 7.456587612618862,
 2557: 0.247140837585034,
 2560: 1.47375,
 2562: 3.7785,
 2566: 0.5403125,
 2568: 0.4157384161998133,
 2574: 0.2490485577762502,
 2578: 0.7363625,
 2579: 0.3811005163817664,
 2580: 1.035,
 2582: 3.146290865158654,
 2583: 0.4821875,
 2585: 0.47125,
 2586: 2.031734375,
 2587: 2.598515518707483,
 2589: 0.2091526699331673,
 2593: 1.484226134793999,
 2594: 0.3671875,
 2597: 0.4837628266800179,
 2600: 0.1385416666666666,
 2607: 8.848838541666666,
 2608: 0.0125829068975052,
 2609: 0.1585003787878788,
 2614: 0.637489537705713,
 2615: 0.2083926294252568,
 2619: 0.3737499999999999,
 2621: 4.253523569023569,
 2622: 4.742617424242424,
 2625: 0.08625,
 2627: 0.1055158536585365,
 2628: 0.9015061649659863,
 2631: 0.3659872654384393,
 2632: 0.003114725445382,
 2633: 3.625,
 2634: 1.974628125,
 2635: 0.2025383264784087,
 2636: 0.0196748875063185,
 2638: 3.980573979591836,
 2639: 0.0433195833333333,
 2645: 3.78627124721869,
 2646: 0.6035780108023683,
 2648: 2.7475,
 2649: 4.30875,
 2650: 1.3644508928571428,
 2652: 0.82875,
 2653: 0.2225,
 2657: 0.0325,
 2658: 19.10875,
 2659: 4.83309670781893,
 2664: 0.1875,
 2666: 0.102125,
 2667: 0.0282916666666666,
 2672: 1.218316287878788,
 2679: 0.5197263067246763,
 2680: 2.878125,
 2681: 2.42375,
 2684: 0.0665,
 2685: 1.1014375,
 2686: 2.042893986762654,
 2687: 5.626875,
 2688: 0.397178110039277,
 2690: 1.0427083333333331,
 2699: 0.5420141754079254,
 2700: 0.0052119700977813,
 2702: 0.2205,
 2705: 1.9393,
 2706: 0.1641796875,
 2708: 0.1777117158210071,
 2709: 0.0478124999999999,
 2710: 1.6129312499999997,
 2711: 0.17125,
 2713: 2.2630759223054753,
 2714: 0.674375,
 2716: 2.8472670454545455,
 2717: 0.09775,
 2725: 3.221875,
 2726: 0.02625,
 2727: 0.38875,
 2736: 1.4911302437641722,
 2739: 4.309861689814815,
 2742: 4.682777777777777,
 2744: 8.589519345238095,
 2746: 1.1222395833333334,
 2747: 0.457,
 2748: 0.501875,
 2749: 0.3650416666666666,
 2751: 0.4767900845058772,
 2752: 1.251181327160494,
 2757: 3.1754166666666666,
 2758: 0.1753268417874396,
 2759: 0.140625,
 2763: 0.5244407195594287,
 2764: 2.375,
 2765: 0.0273809523809523,
 2774: 1.1809375,
 2775: 0.3917151203885155,
 2780: 0.0744642857142857,
 2781: 0.0685505952380952,
 2782: 0.5259037990196079,
 2783: 0.6041770833333333,
 2790: 0.2883333333333333,
 2792: 0.5003620377156529,
 2798: 0.94925,
 2802: 0.0346670436139996,
 2804: 1.1327083333333332,
 2805: 1.0415833333333333,
 2806: 0.1293333333333333,
 2808: 0.4414322916666666,
 2810: 1.5424125236237327,
 2811: 0.3092916666666666,
 2815: 2.39724375,
 2816: 3.0572916666666665,
 2817: 0.0645231968172758,
 2818: 0.55875,
 2820: 0.0201761363636363,
 2821: 0.075375,
 2822: 0.9015833333333332,
 2826: 0.4971875,
 2828: 0.1912597975516539,
 2831: 9.238714393427044,
 2836: 0.06825,
 2837: 0.166875,
 2838: 1.1864791666666663,
 2842: 1.1011309523809525,
 2844: 10.494378837719298,
 2847: 0.0222368964947089,
 2848: 6.297242424242424,
 2849: 0.3169863782051282,
 2850: 0.0816165422059087,
 2851: 0.0094908333333333,
 2854: 4.78222095959596,
 2855: 0.128103448275862,
 2858: 2.6911527777777784,
 2861: 2.258125,
 2862: 2.9675,
 2865: 2.50771875,
 2869: 3.064498953748166,
 2873: 0.9176563718323588,
 2874: 5.1384375,
 2875: 7.354236111111112,
 2884: 0.416875,
 2887: 1.839704861111111,
 2889: 0.4738525266156844,
 2892: 7.337916666666667,
 2893: 0.99,
 2894: 1.637951388888889,
 2896: 0.7970274893946284,
 2897: 1.7858333333333334,
 2898: 4.1359375,
 2899: 0.62421875,
 2900: 0.0794791666666666,
 2901: 0.2188597808441558,
 2905: 0.0061598502444957,
 2908: 0.3635192454795208,
 2910: 1.4495555555555557,
 2919: 1.8055096153846153,
 2920: 0.3131822946859903,
 2926: 3.982417981248824,
 2930: 16.579777657693388,
 2932: 0.0360277777777777,
 2933: 1.1439125,
 2934: 0.24425,
 2935: 4.335700663316104,
 2939: 4.335479405706662,
 2941: 0.1160683742183742,
 2942: 0.1889054270901909,
 2943: 2.14625,
 2944: 2.212140572390572,
 2948: 0.0255409722222222,
 2950: 0.8177975694444445,
 2952: 0.03396875,
 2953: 2.4301435183943823,
 2954: 1.84575,
 2955: 0.0985347222222222,
 2957: 1.5520573819890802,
 2960: 0.0287170646006583,
 2962: 0.148125,
 2966: 0.5166327256944444,
 2969: 0.3191525,
 2970: 2.154036119236165,
 2971: 2.624375,
 2973: 17.598125,
 2978: 0.2333333333333333,
 2979: 1.2187565474943487,
 2982: 0.1867655701754386,
 2986: 1.2231390611697943,
 2987: 46.24125,

In [50]:
# Agregamos el precio unitario a cada item
monthly_preds['unit_price'] = monthly_preds['item'].apply(lambda x: item_price[x])
monthly_preds

,item,month,y_real,y_binario,y_croston,y_croston_est,unit_price
0,1002,2023-05-31,0,0.0,4.254629,7.539547,0.009178
1,1002,2023-06-30,0,0.0,31.909721,9.159404,0.009178
2,1002,2023-07-31,0,0.0,32.973379,0.000000,0.009178
3,1002,2023-08-31,0,0.0,32.973379,72.379647,0.009178
4,1002,2023-09-30,0,0.0,31.909721,7.754962,0.009178
...,...,...,...,...,...,...,...
24317,9998,2023-07-31,0,0.0,40.323716,77.085291,0.390132
24318,9998,2023-08-31,2,0.0,40.323716,22.201770,0.390132
24319,9998,2023-09-30,0,0.0,39.022951,39.427280,0.390132
24320,9998,2023-10-31,0,0.0,40.323716,0.765578,0.390132
24321,9998,2023-11-30,4,0.0,35.120656,4.218492,0.390132

In [51]:
# Agregamos el precio unitario a cada item
monthly_preds['unit_price'] = monthly_preds['item'].apply(lambda x: item_price[x])
monthly_preds

,item,month,y_real,y_binario,y_croston,y_croston_est,unit_price
0,1002,2023-05-31,0,0.0,4.254629,7.539547,0.009178
1,1002,2023-06-30,0,0.0,31.909721,9.159404,0.009178
2,1002,2023-07-31,0,0.0,32.973379,0.000000,0.009178
3,1002,2023-08-31,0,0.0,32.973379,72.379647,0.009178
4,1002,2023-09-30,0,0.0,31.909721,7.754962,0.009178
...,...,...,...,...,...,...,...
24317,9998,2023-07-31,0,0.0,40.323716,77.085291,0.390132
24318,9998,2023-08-31,2,0.0,40.323716,22.201770,0.390132
24319,9998,2023-09-30,0,0.0,39.022951,39.427280,0.390132
24320,9998,2023-10-31,0,0.0,40.323716,0.765578,0.390132
24321,9998,2023-11-30,4,0.0,35.120656,4.218492,0.390132

In [52]:
utility_df = monthly_preds.copy()[['month', 'item', 'y_real', 'y_croston', 'y_croston_est', 'unit_price']]
utility_df

           month  item  y_real  y_croston  y_croston_est  unit_price
0     2023-05-31  1002       0   4.254629       7.539547    0.009178
1     2023-06-30  1002       0  31.909721       9.159404    0.009178
2     2023-07-31  1002       0  32.973379       0.000000    0.009178
3     2023-08-31  1002       0  32.973379      72.379647    0.009178
4     2023-09-30  1002       0  31.909721       7.754962    0.009178
...          ...   ...     ...        ...            ...         ...
24317 2023-07-31  9998       0  40.323716      77.085291    0.390132
24318 2023-08-31  9998       2  40.323716      22.201770    0.390132
24319 2023-09-30  9998       0  39.022951      39.427280    0.390132
24320 2023-10-31  9998       0  40.323716       0.765578    0.390132
24321 2023-11-30  9998       4  35.120656       4.218492    0.390132

[24322 rows x 6 columns]

In [53]:
# Precio promedio productos
classification_df['unit_price'].mean()

2.374940656558404

In [54]:
# Definimos un costo fijo de inventario para todos los productos
# Este costo lo definimos como un 30% del precio promedio de todos los productos
STOCK_COST = classification_df['unit_price'].mean() * 0.3
STOCK_COST

0.7124821969675212

In [55]:
# Calculamos los costos por exceso de inventario por cada modelo
def get_stock_cost(row, model):
    """
    Calcula el costo de inventario cuando la cantidad predicha es mayor o igual a la cantidad observada,
    según cada modelo.
    """
    if model == 'croston':
        target = 'y_croston'
    elif model == 'croston_est':
        target = 'y_croston_est'
    else:
        target = 'y_croston'


    if row[target] >= row['y_real']:
        stock_in_excess = (row[target] - row['y_real']) * STOCK_COST
    else:
        stock_in_excess = 0

    return stock_in_excess

for m in ['croston', 'croston_est']:
    utility_df[f'excess_stock_cost_{m}'] = utility_df.apply(lambda x: get_stock_cost(x, m), axis=1)

utility_df

,month,item,y_real,y_croston,y_croston_est,unit_price,excess_stock_cost_croston,excess_stock_cost_croston_est
0,2023-05-31,1002,0,4.254629,7.539547,0.009178,3.031348,5.371793
1,2023-06-30,1002,0,31.909721,9.159404,0.009178,22.735108,6.525912
2,2023-07-31,1002,0,32.973379,0.000000,0.009178,23.492945,0.000000
3,2023-08-31,1002,0,32.973379,72.379647,0.009178,23.492945,51.569210
4,2023-09-30,1002,0,31.909721,7.754962,0.009178,22.735108,5.525272
...,...,...,...,...,...,...,...,...
24317,2023-07-31,9998,0,40.323716,77.085291,0.390132,28.729929,54.921898
24318,2023-08-31,9998,2,40.323716,22.201770,0.390132,27.304965,14.393401
24319,2023-09-30,9998,0,39.022951,39.427280,0.390132,27.803158,28.091235
24320,2023-10-31,9998,0,40.323716,0.765578,0.390132,28.729929,0.545461
24321,2023-11-30,9998,4,35.120656,4.218492,0.390132,22.172913,0.155672

In [56]:
# Calculamos los costos por quiebre de stock por cada modelo
def get_stock_out_cost(row, model):
    """
    Calcula el costo de quiebre de stock cuando la cantidad predicha es menor a la cantidad observada,
    según cada modelo. Este costo está dado por el precio de venta del item por la cantidad de ítems no vendidos 
    a causa del quiebre de stock
    """
    if model == 'croston':
        target = 'y_croston'
    elif model == 'croston_est':
        target = 'y_croston_est'
    else:
        target = 'y_croston'


    if row['y_real'] > row[target]:
        stock_out = (row['y_real'] - row[target]) * row['unit_price']
    else:
        stock_out = 0

    return stock_out

for m in ['croston', 'croston_est']:
    utility_df[f'stock_out_cost_{m}'] = utility_df.apply(lambda x: get_stock_out_cost(x, m), axis=1)

utility_df

,month,item,y_real,y_croston,y_croston_est,unit_price,excess_stock_cost_croston,excess_stock_cost_croston_est,stock_out_cost_croston,stock_out_cost_croston_est
0,2023-05-31,1002,0,4.254629,7.539547,0.009178,3.031348,5.371793,0.0,0.0
1,2023-06-30,1002,0,31.909721,9.159404,0.009178,22.735108,6.525912,0.0,0.0
2,2023-07-31,1002,0,32.973379,0.000000,0.009178,23.492945,0.000000,0.0,0.0
3,2023-08-31,1002,0,32.973379,72.379647,0.009178,23.492945,51.569210,0.0,0.0
4,2023-09-30,1002,0,31.909721,7.754962,0.009178,22.735108,5.525272,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
24317,2023-07-31,9998,0,40.323716,77.085291,0.390132,28.729929,54.921898,0.0,0.0
24318,2023-08-31,9998,2,40.323716,22.201770,0.390132,27.304965,14.393401,0.0,0.0
24319,2023-09-30,9998,0,39.022951,39.427280,0.390132,27.803158,28.091235,0.0,0.0
24320,2023-10-31,9998,0,40.323716,0.765578,0.390132,28.729929,0.545461,0.0,0.0
24321,2023-11-30,9998,4,35.120656,4.218492,0.390132,22.172913,0.155672,0.0,0.0

In [57]:
# Calculamos los ingresos por venta de repuesto por cada modelo
def get_income_earned_by_sale(row, model):
    """
    Calcula el ingreso obtenido por la venta de repuesto
    """
    if model == 'croston':
        target = 'y_croston'
    elif model == 'croston_est':
        target = 'y_croston_est'
    else:
        target = 'y_croston'


    if row[target] >= row['y_real']:
        sales = row['y_real'] * row['unit_price']
    else:
        sales = row[target] * row['unit_price']

    return sales

for m in ['croston', 'croston_est']:
    utility_df[f'sales_income_{m}'] = utility_df.apply(lambda x: get_income_earned_by_sale(x, m), axis=1)

utility_df

,month,item,y_real,y_croston,y_croston_est,unit_price,excess_stock_cost_croston,excess_stock_cost_croston_est,stock_out_cost_croston,stock_out_cost_croston_est,sales_income_croston,sales_income_croston_est
0,2023-05-31,1002,0,4.254629,7.539547,0.009178,3.031348,5.371793,0.0,0.0,0.000000,0.000000
1,2023-06-30,1002,0,31.909721,9.159404,0.009178,22.735108,6.525912,0.0,0.0,0.000000,0.000000
2,2023-07-31,1002,0,32.973379,0.000000,0.009178,23.492945,0.000000,0.0,0.0,0.000000,0.000000
3,2023-08-31,1002,0,32.973379,72.379647,0.009178,23.492945,51.569210,0.0,0.0,0.000000,0.000000
4,2023-09-30,1002,0,31.909721,7.754962,0.009178,22.735108,5.525272,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
24317,2023-07-31,9998,0,40.323716,77.085291,0.390132,28.729929,54.921898,0.0,0.0,0.000000,0.000000
24318,2023-08-31,9998,2,40.323716,22.201770,0.390132,27.304965,14.393401,0.0,0.0,0.780264,0.780264
24319,2023-09-30,9998,0,39.022951,39.427280,0.390132,27.803158,28.091235,0.0,0.0,0.000000,0.000000
24320,2023-10-31,9998,0,40.323716,0.765578,0.390132,28.729929,0.545461,0.0,0.0,0.000000,0.000000
24321,2023-11-30,9998,4,35.120656,4.218492,0.390132,22.172913,0.155672,0.0,0.0,1.560529,1.560529

In [58]:
# Calculamos la utilidad para cada dato
def get_utility(row, model):
    """
    Calculamos la utilidad para cada dato:
    Suma de ingresos - Suma de costos
    """
    total_incomes = row[f'sales_income_{model}']
    total_costs = row[f'excess_stock_cost_{model}'] + row[f'stock_out_cost_{model}']
    utility = total_incomes - total_costs

    return utility

for m in ['croston', 'croston_est']:
    utility_df[f'utility_{m}'] = utility_df.apply(lambda x: get_utility(x, m), axis=1)

utility_df

,month,item,y_real,y_croston,y_croston_est,unit_price,excess_stock_cost_croston,excess_stock_cost_croston_est,stock_out_cost_croston,stock_out_cost_croston_est,sales_income_croston,sales_income_croston_est,utility_croston,utility_croston_est
0,2023-05-31,1002,0,4.254629,7.539547,0.009178,3.031348,5.371793,0.0,0.0,0.000000,0.000000,-3.031348,-5.371793
1,2023-06-30,1002,0,31.909721,9.159404,0.009178,22.735108,6.525912,0.0,0.0,0.000000,0.000000,-22.735108,-6.525912
2,2023-07-31,1002,0,32.973379,0.000000,0.009178,23.492945,0.000000,0.0,0.0,0.000000,0.000000,-23.492945,0.000000
3,2023-08-31,1002,0,32.973379,72.379647,0.009178,23.492945,51.569210,0.0,0.0,0.000000,0.000000,-23.492945,-51.569210
4,2023-09-30,1002,0,31.909721,7.754962,0.009178,22.735108,5.525272,0.0,0.0,0.000000,0.000000,-22.735108,-5.525272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24317,2023-07-31,9998,0,40.323716,77.085291,0.390132,28.729929,54.921898,0.0,0.0,0.000000,0.000000,-28.729929,-54.921898
24318,2023-08-31,9998,2,40.323716,22.201770,0.390132,27.304965,14.393401,0.0,0.0,0.780264,0.780264,-26.524701,-13.613137
24319,2023-09-30,9998,0,39.022951,39.427280,0.390132,27.803158,28.091235,0.0,0.0,0.000000,0.000000,-27.803158,-28.091235
24320,2023-10-31,9998,0,40.323716,0.765578,0.390132,28.729929,0.545461,0.0,0.0,0.000000,0.000000,-28.729929,-0.545461
24321,2023-11-30,9998,4,35.120656,4.218492,0.390132,22.172913,0.155672,0.0,0.0,1.560529,1.560529,-20.612384,1.404857

In [59]:
# Calculamos la utilidad final para cada modelo
utility = {}
for m in ['croston', 'croston_est']:
    utility[m] = utility_df[f'utility_{m}'].sum()

utility

{'croston': -1235960.1305210628, 'croston_est': -426611.01544252445}

In [67]:
results_df[results_df.item == 1051]['croston_est_mae'].mean()

0.5412473083122072

In [66]:
results_df

      item   demand_type  n_points  bin_reg_mae  croston_mae  croston_est_mae
0     1002         lumpy      1793     0.222841     1.274647         1.348773
1     1003  intermittent      1170     0.008547     0.040301         0.025591
2     1006         lumpy      1947     0.079487     0.382824         0.337329
3     1007        smooth         1          NaN          NaN              NaN
4     1009        smooth         1          NaN          NaN              NaN
...    ...           ...       ...          ...          ...              ...
3812  9988  intermittent       624     0.016000     1.984000         0.361180
3813  9989        smooth         1          NaN          NaN              NaN
3814  9994  intermittent      1800     0.072222     0.143770         0.100775
3815  9997        smooth         1          NaN          NaN              NaN
3816  9998         lumpy      1583     0.056782     1.332927         0.806323

[3817 rows x 6 columns]