In [2]:
lista = [1, 2, 7, 4, 5, 6, 3, 8, 9]

In [3]:
lista[2] = 3
lista[6] = 7

In [4]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
lista = ['Alicia', 1998, 'Bob', 1990, 'Carlos', 1986, 'David', 2001]

In [6]:
for i in range(len(lista)-1):
    print(lista[i], lista[i+1])

Alicia 1998
1998 Bob
Bob 1990
1990 Carlos
Carlos 1986
1986 David
David 2001

In [7]:
for i in range(len(lista)//2):
    nombre = lista[ 2*(i - 1) ]
    nacimiento = str( 2*(i - 1) + 1 )
    print(nombre, nacimiento)

David -1
Alicia 1
Bob 3
Carlos 5

In [7]:
for i in range(len(lista)//2):
    nombre = lista[ 2*i ]
    nacimiento = str( lista[ 2*i+1] )
    print(nombre, nacimiento)

Alicia 1998
Bob 1990
Carlos 1986
David 2001

In [8]:
for i in range(len(lista)//2):
    nombre = lista[ 2*i ]
    nacimiento = str( lista[ 2*i+1] )
    print(nombre, nacimiento)

Alicia 1998
Bob 1990
Carlos 1986
David 2001

In [9]:
for cliente in lista:
    nombre = cliente
    nacimiento = cliente + 1
    print(nombre, nacimiento)

TypeError: can only concatenate str (not "int") to str

In [19]:
lista = ['Alicia', 'Bob', 'Carlos', 'David']

In [16]:
lista2 = []
while len(lista) > 0:
    ultimo_cliente = len(lista)
    cliente = lista.pop(ultimo_cliente)
    lista2.append(cliente)

for cliente in lista2:
    print(cliente)

IndexError: pop index out of range

In [17]:
while len(lista) > 0:
    ultimo_cliente = len(lista) - 1
    cliente = lista.pop(ultimo_cliente)
    print(cliente)

David
Carlos
Bob
Alicia

In [20]:
for i in range( len(lista) ):
    ultimo_cliente = len(lista) - i
    cliente = lista[ ultimo_cliente ]
    print(cliente)

IndexError: list index out of range

In [21]:
d = ['Alicia', 'Bob', 'Carlos', 'David']
m = ['Pelusa', 'Luke', 'Mickey', 'Madonna']

In [23]:
for i in range(len( d )):
    print( d[i], m[i] )

Alicia Pelusa
Bob Luke
Carlos Mickey
David Madonna

In [25]:
lista = ['soleado', 'nublado', 'soleado', 'lluvia', 2.4, 'lluvia', 0.1, 'nublado', 'lluvia', 0.8]

In [26]:
tupla = (1,2,3,5,6,7,8,9)

In [27]:
def imprimir_hora(mes,dia,hora,minuto,segundo):
    print('Hoy es '+ str(dia)+ ' de ' + str(mes) + ' y son las:')
    print(str(hora) + ':'+str(minuto)+':' + str(segundo))

In [29]:
m1 = ('Toy Story', 1995, '01:21', ['animacion', 'comedia'])

In [31]:
m1[3]

['animacion', 'comedia']

In [32]:
m1[3].append('jajaja')

In [33]:
m1

('Toy Story', 1995, '01:21', ['animacion', 'comedia', 'jajaja'])

In [34]:
m1[3].append( 'infantil' )

In [35]:
m1

('Toy Story', 1995, '01:21', ['animacion', 'comedia', 'jajaja', 'infantil'])

In [36]:
tupla = (2.0, 4.7, 6.8, 5.1)

In [37]:
lista = []
for i in range(len(tupla)):
    lista[i] = tupla[i]
lista[0] = 3.2

IndexError: list assignment index out of range

In [38]:
lista = []
for nota in tupla:
    lista[nota] = nota
lista[0] = 3.2

TypeError: list indices must be integers or slices, not float

In [39]:
lista = []
for nota in tupla:
    lista.append(nota)
lista[0] = 3.2

In [40]:
lista

[3.2, 4.7, 6.8, 5.1]

In [41]:
tupla = (0,1,2,2,2,4,2,1,2,4,4,4,0,0)

In [47]:
len(tupla)

14

In [43]:
tupla.count(2)

5

In [44]:
max(tupla)

4

In [45]:
lista = []
i = 0
while i <= max(tupla):
    for j in range(tupla.count(i)):
        lista.append(i)
    i += 1

In [46]:
lista

[0, 0, 0, 1, 1, 2, 2, 2, 2, 2, 4, 4, 4, 4]

In [48]:
len(lista)

14

# Sumativa

## 1.

In [49]:
tupla = ('Camila', 5.0, 6.2, 4.8, 6.0)

In [51]:
def sacar_promedio(tupla):
    nombre, nota_1, nota_2, nota_3, nota_4 = tupla
    promedio = sum([nota_1, nota_2, nota_3, nota_4]) / 4
    return nombre, promedio

sacar_promedio(tupla)

('Camila', 5.5)

## 2.

In [68]:
lista = [-40, -1, 1, 5, 16, 72, 100]

In [69]:
def agregar_entero(lista, entero):
    # Si es el mayor numero de la lista se agrega al final
    if entero > lista[-1]:
        lista.append(entero)
        return lista
    
    for i in range(len(lista)):
        if lista[i] > entero:
            index = i
            break
    lista.insert(index, entero)
    return lista

agregar_entero(lista, 13)

[-40, -1, 1, 5, 13, 16, 72, 100]

In [76]:
lista_2 = [0, 4, 6, 6, 8]

In [77]:
agregar_entero(lista_2, 1)

[0, 1, 4, 6, 6, 8]

## 3.

In [99]:
lista = [1,1,4,4,4,4,4,4,4,4,6,2,4,3,1,1,3,5,6,7,3,4,5,5,5,3,3,2,1,2,1,1,1,2,6,6]

In [100]:
def max_repetido(lista):
    # Creamos una lista de todos los enteros que 
    # existen en la lista inicial
    integers_in_list = list()
    for elem in lista:
        if elem not in integers_in_list:
            integers_in_list.append(elem)
    
    # Chequeamos para cada entero existente si es el que mas se repite
    count = 0
    for i in integers_in_list:
        if count < lista.count(i):
            count = lista.count(i)
    
    return count

In [101]:
max_repetido(lista)

10

## 4.

In [212]:
estudiantes = [
'Mario Avedaño',
'Policarpo Avedaño',
'Juan Bodoque',
'Juanin Harry',
'Mario Hugo',
'Dylan Manguera',
'Eusebio Manguera'
]

estudiantes

['Mario Avedaño',
 'Policarpo Avedaño',
 'Juan Bodoque',
 'Juanin Harry',
 'Mario Hugo',
 'Dylan Manguera',
 'Eusebio Manguera']

In [213]:
def agregar_estudiante(lista, estudiante):
    lista.append(estudiante)
    
    # Ordenamos la lista por apellido
    lista.sort(key=lambda x: x.split(" ")[1])
    grouped_by_lastname = {}
    
    # Agrupamos por apellido los nombres como una lista(Nombre, Apellido) y ordenamos la lista por nombre
    for elem in lista:
        name, lastname = elem.split(" ")
        if lastname in grouped_by_lastname.keys():
            grouped_by_lastname[lastname].append([name, lastname])
            grouped_by_lastname[lastname].sort(key=lambda x: x[0]) # Ordenamos por nombre
        else:
            grouped_by_lastname[lastname] = [[name, lastname]]
    
    # Mapeamos los valores del diccionario a una lista unica
    names_lists = []
    for elem in grouped_by_lastname.values():
        names_lists += elem
    
    # Formateamos la lista de lista en una lista de strings del tipo "Nombre Apellido"
    names = [" ".join(name) for name in names_lists]
        
    return names

In [215]:
agregar_estudiante(estudiantes, "Madeleine Sequea")

['Mario Avedaño',
 'Policarpo Avedaño',
 'Juan Bodoque',
 'Juanin Harry',
 'Mario Hugo',
 'Dylan Manguera',
 'Eliza Manguera',
 'Eusebio Manguera',
 'Madeleine Sequea']

In [201]:
dicti = {"b": [203, 39], "c": "aoka", "a": ["ss", 23]}

AttributeError: 'dict' object has no attribute 'sort'